<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
<p>
  <b>Comment Author:</b>
  <%=comment.author_name  %>
</p>

<p>
  <%=comment.discussion %>
</p>
<% end %>

<%= form_tag("/users/#{@post.user_id}/posts/#{@post.id}/comments") %>
  <div class="field">
    <%= label_tag 'comment[author_name]', 'Your name:' %>
      <%= text_field_tag 'comment[author_name]' %>
  </div>
  <div class="field">
    <%= label_tag 'comment[discussion]', 'Comment:' %>
      <%= text_field_tag 'comment[discussion]' %>
  </div>
  <div class="action">
  <%= submit_tag %>
  </div>

<br/>

<%= link_to 'Edit', edit_user_post_path(@post.user, @post) %> |
<%= link_to 'Back', user_posts_path(@post.user) %>
